
/*.removeBtn > i{
    color: #b82116
}*/
/*.removeBtn:hover > i{
    color: #ffffff;
    transition: 0.5s;
}*/

@media screen and (max-width: 576px) {
    #inputsSection > div{
        margin-top: 1vh;
    }
}
@media screen and (min-width: 1100px){
    body{
        padding:0 10vw;
    }
}